<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content=
    "width=device-width, initial-scale=1">
    <title>My Hakyll Blog - $title$</title>
    <link rel="stylesheet" href="$getUrl("css/default.css")$">
</head>
<body>
    <header>
        <div class="logo">
            <a href="$getUrl("index.html")$">My Hakyll Blog</a>
        </div>
        <nav>
            <a href="$getUrl("index.html")$">Home</a>
            <a href="$getUrl("about.rst")$">About</a>
            <a href="$getUrl("contact.markdown")$">Contact</a>
            <a href="$getUrl("archive.html")$">Archive</a>
        </nav>
    </header>
    <main role="main">
        <h1>$title$</h1>$body$
    </main>
</body>
</html>
